@import "abstracts/variables"; 
@import "abstracts/mixin"; 
@import "abstracts/functions";

@import "base/base";
@import "base/animation";
@import "base/typography"; 
@import "base/utilities";

@import "pages/home";

@import "layout/header.scss";
@import "layout/grid";

@import "components/btn.scss";
@import "components/compositions";


html {
  font-size: 62.5%;
}




body { 
  padding: 3rem;
  box-sizing: border-box;
}



